In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("energydata_complete.csv")

In [4]:
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [5]:
data = data.drop(columns=['date', 'lights'])

In [6]:
data

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
scaler = MinMaxScaler()

In [9]:
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [10]:
feature_data = normalised_data.drop(columns=["Appliances"])

In [11]:
target = normalised_data['Appliances']

In [12]:
#Splitting of Data

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(feature_data, target, test_size=0.3, random_state=42)

In [16]:
from sklearn import linear_model

In [17]:
linear_model = linear_model.LinearRegression()
linear_model.fit(x_train, y_train)

LinearRegression()

In [29]:
x = normalised_data['T2']
y = normalised_data['T6']

In [32]:
X = x_train['T2']
Y = x_train['T6']
Xt = x_test['T2']
Yt = x_test['T6']

In [34]:
X.shape

(13814,)

In [40]:
x = X.values.reshape(-1, 1)
xt = Xt.values.reshape(-1, 1)

In [41]:
linear_model.fit(x, Y)
pred = linear_model.predict(xt)
from sklearn.metrics import r2_score
r2_score = r2_score(Yt, pred)
round(r2_score, 2)

0.64

In [43]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Yt, pred)
mae

0.08216970202681717

In [44]:
rss = np.sum(np.square(np.subtract(Yt, pred)))
round(rss, 3)

66.116

In [45]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Yt, pred))
round(rmse, 3)

0.106

In [18]:
predicted_values = linear_model.predict(x_test)

In [19]:
from sklearn.metrics import mean_absolute_error

In [20]:
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

In [21]:
rss = np.sum(np.square(np.subtract(y_test, predicted_values)))
round(rss, 3)

45.342

In [22]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [23]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.149

In [53]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)

Lasso(alpha=0.001)

In [54]:
from sklearn.linear_model import Ridge
ridge_reg1 = Ridge(alpha=0.4)
ridge_reg1.fit(x, Y)
from sklearn.linear_model import Lasso
lasso_reg1 = Lasso(alpha=0.001)
lasso_reg1.fit(x,Y)

Lasso(alpha=0.001)

In [55]:
pred = ridge_reg.predict(x_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.088

In [56]:
pred = lasso_reg.predict(x_test)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, pred))
round(rmse, 3)

0.094

In [57]:
pred = ridge_reg1.predict(xt)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Yt, pred))
round(rmse, 3)

0.106

In [58]:
pred = lasso_reg1.predict(xt)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Yt, pred))
round(rmse, 3)

0.106

In [26]:
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [49]:
linear_model_weights.min()

Features               Press_mm_hg
Linear_Model_Weight   -2.95511e+11
dtype: object

In [50]:
linear_model_weights.max()

Features                       rv2
Linear_Model_Weight    2.95511e+11
dtype: object

In [28]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0           rv2        -2.955112e+11      0.000743     -0.000000
1          RH_2        -4.568809e-01     -0.401134     -0.000000
2         T_out        -3.216326e-01     -0.250765      0.000000
3            T2        -2.363398e-01     -0.193880      0.000000
4            T9        -1.899797e-01     -0.188584     -0.000000
5          RH_8        -1.576386e-01     -0.156596     -0.000110
6        RH_out        -7.746282e-02     -0.050541     -0.049557
7          RH_7        -4.452714e-02     -0.046291     -0.000000
8          RH_9        -3.986054e-02     -0.041701     -0.000000
9            T5        -1.578388e-02     -0.020727     -0.000000
10           T1        -3.281051e-03     -0.021549      0.000000
11  Press_mm_hg         6.866500e-03      0.006516     -0.000000
12           T7         1.029951e-02      0.010021     -0.000000
13   Visibility         1.231779e-02      0.012032      0.000000
14         RH_5         1.602638e-02      0.016176      0.000000
15         RH_4         2.634378e-02      0.024168      0.000000
16           T4         2.921950e-02      0.027006     -0.000000
17    Windspeed         2.928201e-02      0.030463      0.002912
18         RH_6         3.808552e-02      0.035023     -0.000000
19         RH_3         9.593781e-02      0.094976      0.000000
20           T8         1.020690e-01      0.100754      0.000000
21    Tdewpoint         1.177177e-01      0.076668      0.000000
22           T6         2.364031e-01      0.213316      0.000000
23           T3         2.906266e-01      0.287408      0.000000
24         RH_1         5.537636e-01      0.511932      0.017880
25          rv1         2.955112e+11      0.000743     -0.000000